<a href="https://colab.research.google.com/github/DhanaTejaDumpa/python/blob/main/003_04Dec24_operatorsAndConditions_Task4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Date : 04/12/2024

Task No - 04

# <b><u>Operators And Conditions</u></b>

In [1]:
print("hi")

hi

In [ ]:
#Q1. Create different variables to store your name, your age, your parents name.
#a. Print your name.
#b. Create more variables needed for a Biodata.
#c. Now print your whole Bio data using above variables.

# a)
name = input('Enter your name : ')
age = input('Enter your age : ')
father_name = input('Enter your father_name : ')
mother_name = input('Enter your mother_name : ')

print('Name : ',name)

# b)

mobile = input('Enter your mobile number : +91 ')
email_id = input('Enter your email id : ')
gender = input('Enter your gender(M/F/Trans) : ')
dob = input('Enter your DOB(DD/MM/YYYY) : ')
edu = input('Enter your education qualification : ')
exp = input('Enter your experience(in years) : ')
marital_status = input('Enter your marital status : ')
religion = input('Enter your religion : ')
mother_tongue = input('Enter your mother tongue : ')
blood_group = input('Enter your blood group : ')
place = input('Enter your place : ')
date = input('Enter date(DD/MM/YYYY) : ',)

# c)
print('\n')
print('BIODATA : ', end = '\n')

print('Name : ',name)
print('Mobile : ',mobile)
print('Email id : ',email_id)
print('Gender : ',gender)
print('Father Name : ' ,father_name)
print('Mother Name : ',mother_name)
print('Date of Birth : ',dob)
print('Age : ',age)
print('Education : ',edu)
print('Experience : ',exp)
print('Marital Status : ',marital_status)
print('Religion : ',religion)
print('Mother Tongue : ',mother_tongue)
print('Blood Group : ',blood_group)
print('Place : ',place)
print('Date : ',date)

Enter your name : teju
Enter your age : 25
Enter your father_name : sekhar
Enter your mother_name : syamala
Name :  teju
Enter your mobile number : +91 123456789
Enter your email id : xyz@abc.com
Enter your gender(M/F/Trans) : f
Enter your DOB(DD/MM/YYYY) : 11/22/2222
Enter your education qualification : xyz
Enter your experience(in years) : 0
Enter your marital status : unmarried
Enter your religion : hindu
Enter your mother tongue : telugu
Enter your blood group : o+
Enter your place : hyd
Enter date(DD/MM/YYYY) : 11/22/2223


BIODATA :
Name :  teju
Mobile :  123456789
Email id :  xyz@abc.com
Gender :  f
Father Name :  sekhar
Mother Name :  syamala
Date of Birth :  11/22/2222
Age :  25
Education :  xyz
Experience :  0
Marital Status :  unmarried
Religion :  hindu
Mother Tongue :  telugu
Blood Group :  o+
Place :  hyd
Date :  11/22/2223

In [ ]:
#Q2. Create two variables. One to store your First name and another one to store your surname. Now, Print your name so that the surname prints first.

f_name = 'DhanaTeja'
s_name = 'D'
print(s_name, f_name)

D DhanaTeja

Q3. a. Write rules on how to create a Variable in markdown cell using text formatting.

* Don't use any word which `changes its color`.Because those words will have a specific purpose`(keyword or pre defined function)`
* variable name can not start with a `number`(0 to 9).
* A variable name must begin with an `alphabet` or `underscore(_)`
* Apart from underscore, you are not supposed to use any other special character in the name of a variable.

In [ ]:
# 3b) Print type of the below variables:
a = 4.5
b = 'Innomatics'
c = 100
d = True
print(f'{a} belongs to {type(a)}')
print(f'{b} belongs to {type(b)}')
print(f'{c} belongs to {type(c)}')
print(f'{d} belongs to {type(d)}')

4.5 belongs to <class 'float'>
Innomatics belongs to <class 'str'>
100 belongs to <class 'int'>
True belongs to <class 'bool'>

In [ ]:
#Q4. Create a variable called break and assign it a value 16. See what happens and find out the reason behind the behavior that you see.

break = 16

SyntaxError: invalid syntax (<ipython-input-9-9cdbbd7b16ed>, line 3)

<b>Explanation </b>:

* `break` is a <u>keyword</u> in Python, and keywords cannot be used as variable names.
* We can't assign a value to `break`,because it is a reserved keyword.

Note : "break" statement is used to exit from loops (such as for or while loops) prematurely.

In [ ]:
#Q5. You have a floor that is 52 meters long and 88.7 meters wide. Find out the total area using python and print it.

l = 52
b = 88.7
a = l*b
print('Total Area of Floor = ',a)

Total Area of Floor =  4612.400000000001

### Operators.

In [ ]:
#1. Define two variables, a and b, with values 12 and 5 respectively. Write a Python program to calculate and print their sum, difference, product, quotient, and modulus.
a = 12
b = 5
print(f'sum of {a} and {b} is {a + b}')
print(f'difference of {a} and {b} is {a - b}')
print(f'product of {a} and {b} is {a * b}')
print(f'quotient of {a} and {b} is {a // b}')
print(f'modulus of {a} and {b} is {a % b}')

sum of 12 and 5 is 17
difference of 12 and 5 is 7
product of 12 and 5 is 60
quotient of 12 and 5 is 2
modulus of 12 and 5 is 2

In [ ]:
#2.Given three boolean variables, p = True, q = False, and r = True, write a Python program that evaluates and prints the result of the logical expressions p and q, p or q, and not r.

p,q,r = True, False, True
print(f'p and q results in {p and q}')
print(f'p and q results in {p or q}')
print(f'not r results in {not r}')

p and q results in False
p and q results in True
not r results in False

In [ ]:
#3. Write a Python program to evaluate the expression 10 + 2 * 3 / 4 - 5 ** 2 and print the result. Explain the order in which the operations are performed using comments.

x = 10 + 2 * 3 / 4 - 5 ** 2
print(x)

# step 1 : 5 ** 2 = 25  --- power
# step 2 : 2 * 3 = 6    --- multiplication (since multiplication before division)
# step 3 : (2 * 3)/4 = 1.5 --- division
# step 4 : 10 + 1.5 = 11.5 --- addition
# step 5 : 11.5 - 25 = -13.5 --- subtraction

-13.5

<u>Explanation</u> :

* solved using `BODMAS`,which is an acronym helps in solving mathematical expressions with multiple operations.
  * B : Brackets
  * O : Order of powers or roots
  * D : Division
  * M : Multiplication
  * A : Addition
  * S : Subtraction

Note : Rules to be followed

* solve the expression from left to right
* division and multiplication are interchangeable,and you should do whichever comes first.

![](https://cdn1.byjus.com/wp-content/uploads/2021/10/BODMAS-and-PEMDAS.png)

In [ ]:
#4.Write a Python program to evaluate the expression (8 + 2) * (3 - 1) ** 2 / 2 and explain how the use of parentheses affects the result using comments.

x = (8 + 2) * (3 - 1) ** 2 / 2
print(x)

# step 1 : (8 + 2) = 10 and (3 - 1) = 2 --- solve brackets
# step 2 : 2 ** 2 = 4 ---- exponent
# step 3 : 10 * 4--- multiplication(left to right,multiplication comes first)
# step 4 : 40 / 2 --- Division

20.0

In [ ]:
#5. Define two variables, a = 5 and b = 5. Write a Python program to check if both variables point to the same object in memory using the is and is not operators. Print the results.
a = 5
b = 5
print(f'both point same object in memory : {a is b}')   # checks if a and b refers to same object,returns True
print(f'both do not point same object in memory : {a is not b}') #checks if a and b  does not refer to same object,returns True

both point same object in memory : True
both do not point same object in memory : False

In [ ]:
#6. Define three variables, a = True, b = False, and c = True. Write a Python program to evaluate the expression (a and b) or (not c) and print the result.

a = True
b = False
c = True
print(f'a and b results in {(a and b) or (not c)}')

# step 1 : a and b ---- False
# step 2 : not c ---- False
# step 3 : (a and b) or (not c) ----False or False --False

a and b results in False

In [ ]:
#7. Write a program to create a new string made of an input string’s first, middle, and last character.
# Example input: Holiday
# Example output: Hiy
# Create a string made of the middle two characters.
# Example input: Innomatics
# Example output: ma

x = input('enter a string of odd length : ')
lx = len(x)
x[::lx//2]

x = input('enter a string of even length : ')
lx = len(x)
x[(lx//2) -1 : (lx//2) + 1]

enter a string of odd lengthdhana

'daa'

In [ ]:
x = input('enter a string of length : ')
lx = len(x)
if lx % 2 == 0:
  print(x[(lx//2) -1 : (lx//2) + 1])
else :
  print(x[::lx//2])

enter a string of length : heavy
hay

### Conditional statements

In [ ]:
#1. Write a program to check whether the last digit of a number (entered by user) is divisible by 3 or not.

a = input('Enter a number : ')
lastDigit = int(a[-1])
print(f'lastDigit is {lastDigit}')
if lastDigit % 3 == 0 :
  print(f'{lastDigit} is divisible by 3')
else :
  print(f'{lastDigit} is not divisible by 3')

Enter a number : 136
lastDigit is 6
6 is divisible by 3

In [ ]:
#2. A company decided to give a bonus of 5% of their salary to employees if his/her years of service is more than 5 years.
# Ask the user for their salary and years of service and print the net amount of that person.

sal = int(input('Enter your salary : '))
yos = int(input('Enter your number of years of service : '))

if yos > 5 :
  sal += 5/100 * sal
  print(f'net amount of salary including bonus : {sal}')
else :
  print('No bonus')

Enter your salary : 50000
Enter your number of years of service : 6
net amount of salary including bonus : 52500.0

In [ ]:
#3. A school has following rules for grading system:
#a. Below 25 - F grade
#b. 25 to 45 - E
#c. 45 to 50 - D
#d. 50 to 60 - C
#e. 60 to 80 - B
#f. Above 80 - A
#Ask the user to enter marks and print the corresponding grade.

marks = int(input('Enter your Marks : '))

if marks < 25 :
  print('Grade : F')
elif 25 <= marks < 45 :
  print('Grade : E')
elif 45 <= marks < 50 :
  print('Grade : D')
elif 50 <= marks < 60 :
  print('Grade : C')
elif 60 <= marks < 80 :
  print('Grade : B')
else :
  print('Grade : A')

Enter your Marks : 65
Grade : B

In [ ]:
#1. Write a Python program to calculate the total and average of three numbers entered by the user.
 		#Ensure the average is a floating-point value.

n1 = int(input('Enter your first number : '))
n2 = int(input('Enter your second number : '))
n3 = int(input('Enter your third number : '))

total = n1 + n2 + n3
print(f'Total of given three numbers is {total}')

average = total/3
print(f'Average of given three numbers is {average}')

Enter your first number : 6
Enter your second number : 5
Enter your third number : 2
Total of given three numbers is 13
Average of given three numbers is 4.333333333333333

In [ ]:
#2. Write a Python program that asks the user for two integers and prints:
# The sum if the first number is greater than the second.
# The difference otherwise.

i1 = int(input('Enter first integer value : '))
i2 = int(input('Enter second integer value : '))

if i1 > i2 :
  print(f'since first number is greater than second one, their sum = {i1 + i2}')
else :
   print(f'since first number is not greater than second one, their difference = {i1 - i2}')

Enter first integer value : 12
Enter second integer value : 24
since first number is not greater than second one, their difference = -12

In [ ]:
#3. Write a Python program to check if a number is divisible by both 3 and 5.

n = int(input('Enter a number : '))
if n % 3 == 0 and  n % 5 == 0 :
  print(f'{n} is divisible by both 3 and 5')
elif n % 3 == 0 :
  print(f'{n} is divisible by 3 only')
elif n % 5 == 0 :
  print(f'{n} is divisible by 5 only')
else :
  print(f'{n} is not divisible by both 3 and 5')

Enter a number : 15
15 is divisible by both 3 and 5

In [ ]:
#4. Write a Python program to check if a number lies between 10 and 50, but not between 20 and 30.

n = int(input('Enter a number : '))
if 10 <= n <= 50 :
  if 20 <= n <= 30 :
    print(f'{n} is not satisfying the given condition')
  else :
    print(f'{n} satisfies given condition')
else :
 print(f'{n} does not lie between 10 and 50')

Enter a number : 25
25 is not satisfying the given condition

In [ ]:
#5. Write a Python program to check if a number entered by the user is equal to, greater than, or less than the square of 10.

n = int(input('Enter a number : '))
if n == 10 ** 2 :
  print(f'{n} is equal to 10 ** 2')
elif n > 10 ** 2 :
  print(f'{n} is greater than 10 ** 2')
else :
  print(f'{n} is lesser than 10 ** 2')

Enter a number : 25
25 is lesser than 10 ** 2

In [ ]:
#6. Write a Python program to take two ages as input and determine which person is older. If the ages are the same, print "Same age!"

age1 = int(input('Enter the age of person1 : '))
age2 = int(input('Enter the age of person2 : '))

if age1 > age2 :
  print('person1 is greater than person2')
elif age1 < age2 :
  print('person2 is greater than person1')
else :
  print('Both person1 and person2 are same age')

Enter the age of person1 : 25
Enter the age of person2 : 12
person1 is greater than person2

In [ ]:
#7. Write a Python program to input three numbers and print them in descending order.

n1 = int(input('Enter first number : '))
n2 = int(input('Enter second number : '))
n3 = int(input('Enter third number : '))

if n1 >= n2 and n1 >= n3 :
  if n2 >= n3 :
    print(n1, n2, n3)
  else :
    print(n1, n3, n2)
elif n2 >= n1 and n2 >= n3 :
  if n1 >= n3:
    print(n2, n1, n3)
  else :
    print(n2, n3, n1)
else :
  if n1 >= n2:
    print(n3, n1, n2)
  else :
    print(n3, n2, n1)

Enter first number : 3
Enter second number : 5
Enter third number : 4
5 4 3

In [ ]:
32#8.  Write a Python program to calculate the electricity bill based on the following tariff:
# Units <= 100: ₹5 per unit
#101–300: ₹5 per unit for the first 100 units, ₹7 for the remaining
#Units > 300: ₹5 for the first 100 units, ₹7 for the next 200, and ₹10 for additional units.
#(Hint: Use if-elif with arithmetic calculations.)

u = int(input('Enter number of units used : '))

if u <= 100 :
  min_usage_charges = u * 5
  print('min_usage_charges : Rs.',min_usage_charges)
elif 101 <= u <= 300 :
  mid_usage_charges = (100 * 5) + ((u - 100) * 7)
  print('mid_usage_charges : Rs.',mid_usage_charges)
else :
  high_usage_charges = (100 * 5) + (200 * 7) +((u - 300) * 10)
  print('high_usage_charges : Rs.',high_usage_charges)

Enter number of units used : 303
high_usage_charges : Rs. 1930

In [ ]:
#9. Write a Python program to check if a triangle is valid based on the following conditions:
#The sum of any two sides must be greater than the third.
#(Hint: Use nested if statements.)

s1 = int(input('Enter the length of side1 = '))
s2 = int(input('Enter the length of side2 = '))
s3 = int(input('Enter the length of side3 = '))

if s1 + s2 > s3 :
  if s2 + s3 > s1:
    if s3 + s1 > s2 :
      print('The triangle is valid')
    else :
      print('The triangle is invalid')
  else :
    print('The triangle is invalid')
else :
  print('The triangle is invalid')

Enter the length of side1 = 10
Enter the length of side2 = 12
Enter the length of side3 = 8
The triangle is valid

In [ ]:
#10. Write a Python program to determine the type of triangle based on the lengths of its three sides:

#Equilateral: All sides are equal.
#Isosceles: Two sides are equal.
#Scalene: No sides are equal.
#(Hint: Use nested if-elif statements.)

s1 = int(input('Enter the length of side1 = '))
s2 = int(input('Enter the length of side2 = '))
s3 = int(input('Enter the length of side3 = '))

if s1 == s2 == s3 :
  print('Equilateral triangle')
elif s1 == s2 or s2 == s3 or s3 == s1 :
  print('Isosceles triangle')
else :
  print('Scalene triangle')

Enter the length of side1 = 1
Enter the length of side2 = 2
Enter the length of side3 = 3
Scalene triangle